{% extends "layout.html" %}


{% block title %} dashboard {%endblock%}

{% block content %}


<div class="m-3 m-x-lg-5">
    <div class="row ">
        <div class="col-12 col-lg-4">
            <div class="card" id="news">
                <div class="card-header">news</div>
                <div class="card-body">fasdfasf</div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card" id="weather">
                <div class="card-header">weather</div>
            </div>
            <div class="card" id="stocks">
                <div class="card-header">stocks</div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card" id="todos">
                <div class="card-header">todos</div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
